[submodule "Neuro-digital-clock"]
	path = Neuro-digital-clock
	url = https://github.com/ronak-create/Neuro-digital-clock.git
[submodule "Planetary-System"]
	path = Planetary-System
	url = https://github.com/ronak-create/Planetary-System.git
[submodule "Qr-code-generator"]
	path = Qr-code-generator
	url = https://github.com/ronak-create/Qr-code_Generator.git
[submodule "Beauty-parlour-website"]
	path = Beauty-parlour-website
	url = https://github.com/ronak-create/Beauty-parlour-website.git
