@import url("https://www.fontspace.com/autumn-flowers-font-f86879");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "autumn-flowers";
  src: url("AutumnFlowers-9YVZK.otf");
}

@font-face {
  font-family: "moxa-bestine";
  src: url("MOXA\ Bestine.otf");
}

body {
  /* display: flex; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow-x: hidden;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("rendy-novantino-EUydTGTCrHo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.info-icon{
  position: absolute;
  display: none;
}

.cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 192, 203, 0.195);
}
/* 
body::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(255, 192, 203, 0.281);
} */

.logo {
  font-family: "moxa-bestine";
  border-radius: 50%;
  border: 2px solid #000;
  margin-left: 100px;
  margin-top: 10px;
  align-self: flex-start;
  /* width: 110px;
    height: 110px; */
  display: flex;
  align-items: center;
  transform: translateX(100px);
  justify-content: center;
}

.logo h1 {
  font-size: 3rem;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 60px;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 2000;
  backdrop-filter: blur(8px);
}

.nav-up {
  top: -60px;
}

.header ul {
  /* justify-self: flex-end; */
  width: 50%;
  /* background: #000; */
  display: flex;
  align-items: center;
  /* justify-self: flex-end; */
  justify-content: space-around;
}

.header ul li {
  margin: 20px;
  list-style: none;
}

.header ul li a {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  z-index: 10;
}
.content {
  height: 90vh;
  width: 50%;
  display: flex;
  /* min-width: 360px; */
  /* min-height: 900px; */
  /* background: #000; */
  align-self: flex-start;
  /* align-self: flex-start; */
  align-items: flex-start;
  top: 80px;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
  /* margin-top: 300px; */
  /* background: #000; */
  /* transform: translateY(100px); */
}

.content .box-1 {
  /* background: #000; */
  left: 0;
  margin: 30px;
  display: flex;
  /* height: 100%; */
  align-items: center;
  z-index: 20;
  text-align: center;
  justify-content: center;
  /* width: 50%; */
}

.content .box-1 h1 {
  text-align: center;
  font-size: 4.3rem;
  font-family: "autumn-flowers";
  backdrop-filter: blur(2px);
  /* background: transparent; */
}

#abt-button:hover{
cursor: pointer;
}

.content .box-2 {
  /* background: #000; */
  margin: 30px;
  text-align: center;
  /* width: 50%; */
}

.content .box-2 p {
  /* margin-left: 30px; */
  font-size: 2rem;
  backdrop-filter: blur(3px);
  font-family: "autumn-flowers";
}

.book-now {
  font-family: "Reddit Sans Condensed", sans-serif;
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 1.3rem;
  padding: 10px 10px;
  outline: none;
  border: 2px solid rgb(162, 128, 134);
  color: rgb(255, 165, 189);
  /* transform: -20px; */
  /* backdrop-filter: blur(200px); */
  background: transparent;
  transition: 0.3s;
}

.book-now:hover {
  cursor: pointer;
  backdrop-filter: blur(20px);
}

.about-page {
  position: absolute;
  background: #000;
  /* align-self: flex-start; */
  width: 100%;
    left: 100%;
  transition: 0.5s;
  height: auto;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  align-items: center;
  /* overflow: scroll; */
}

.about-page .cancle-button {
  position: absolute;
  top: 50px;
  right: 50px;
}

.about-page .cancle-button:hover {
  cursor: pointer;
}

.about-page .cancle-button i {
  color: #fff;
  font-size: 3rem;
}

.about-page h1 {
  /* top: 0; */
  font-size: 5rem;
  margin: 30px;
  /* justify-self: flex-start; */
  font-family: "moxa-bestine";
  color: #fff;
}

.about-page .block-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  /* height: auto; */
  background: rgb(255, 255, 218);
}

.about-page .block-1 img {
  width: 65%;
  /* height: 50%;  */
}

.about-page .block-2,
.about-page .section-3 .block-3 {
  width: 500px;
  height: 500px;
  /* background: #ff0; */
  border-radius: 50%;
  overflow: hidden;
  /* border: 20px solid #fff; */
  outline: 3px solid #fff;
  outline-offset: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-page .block-2 img,
.about-page .section-3 .block-3 img {
  /* width: 100%; */
  height: 100%;
}

.about-page .section-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 200px;
}

.about-page .section-2 .text-section,
.about-page .section-3 .text-section {
  width: 50%;
  text-wrap: wrap;
  text-align: left;
}

.about-page .section-2 .text-section p,
.about-page .section-3 .text-section p {
  font-family: "Poppins", sans-serif;
  /* line-height: 30px; */

  font-size: 1.2rem;
  color: #fff;
}

.about-page .section-2 .text-section h1,
.about-page .section-3 .text-section h1 {
  color: #7b1d37;
  /* text-decoration: underline; */
  /* width: auto; */
  border-bottom: 3px solid #fff;
}

.about-page .section-3 {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* align-self: flex-end; */
}

.Quick-service {
  /* margin-top: 130px; */
  width: 100%;
  height: auto;
  /* height:fit-content; */
  /* height: 100vh; */
  /* min-width: 640px; */
}

.Quick-service h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-top: 100px;
}

.block-section {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  width: 90%;
  height: 1000px;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}

.block-section .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  margin: 50px;
  /* border: 2px solid grey; */
  box-shadow: 0 0 5px -1px #000;
}

.block-section .box .image-box {
  width: 80%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 2px -1px #000; */
  outline: 1px solid grey;
  outline-offset: 7px;
}

.block-section .box .image-box img {
  width: 120%;
}

.block-section .box .service-description {
  width: 80%;
  font-size: 1rem;
  word-wrap: break-word;
  text-align: center;
}

.block-section .box .service-ls {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid grey;
}

.block-section .box .service-ls span {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", "sans-serif";
  font-size: 0.7rem;
}

.block-section .box .service-ls span:nth-child(1) {
  border-top-left-radius: 20px;
  background: #fff;
  border-bottom-left-radius: 20px;
}

.block-section .box .service-ls span:nth-child(2) {
  color: #fff;
  border-top-right-radius: 20px;
  background: #000;
  border-bottom-right-radius: 20px;
}

.block-section .box .service-ls span:nth-child(2):hover {
  cursor: pointer;
}

.block-section .box .service-ls .img-box {
  width: 50px;
  height: 50px;
  background: #000;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  transform: translateX(100px);
}

.block-section .box .service-ls img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
}

.footer {
  /* bottom: 0; */
  /* margin-top: 400px; */
  height: 450px;
  width: 100%;
  border: 1px solid;
  background: #000;
  min-width: 360px;
  /* padding: 100px; */
  padding: 30px;
}

.footer .footer-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #c2c2c2;
}

.footer .footer-section .footer-logo {
  transform: translateX(-100px);
  /* padding: 50px; */
}

.footer .footer-section .footer-logo h1 {
  font-size: 5rem;
}

.footer .footer-section .footer-links,
.footer .footer-section .footer-contact,
.footer .footer-section .footer-help {
  padding: 10px;
}

.footer .footer-section .footer-links ul,
.footer .footer-section .footer-contact ul,
.footer .footer-section .footer-help ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer .footer-section .footer-links ul li,
.footer .footer-section .footer-contact ul li,
.footer .footer-section .footer-help ul li {
  padding: 2px;
  margin: 2px;
  font-size: 0.8rem;
  font-family: "poppins", "sans-serif";
  list-style: none;
}

.footer .footer-section .footer-links ul li:not(:first-child):hover,
.footer .footer-section .footer-contact ul li:not(:first-child):hover,
.footer .footer-section .footer-help ul li:not(:first-child):hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer .footer-section .footer-links ul li h1,
.footer .footer-section .footer-contact ul li h1,
.footer .footer-section .footer-help ul li h1 {
  font-family: "Times New Roman", Times, serif;
}

.footer .rights {
  font-family: "Poppins";
  color: #fff;
  /* bottom: 0; */
  /* font-size: 20rem; */
  margin-left: 40px;
}

.footer .rights p {
  font-size: small;
}

.social-media {
  width: 100%;
  min-width: 360px;
  height: 150px;
  border-top: 30px solid #000;
  background: #b7e4c7;
  display: flex;
  align-items: center;
  /* background: grey; */
  justify-content: center;
}
.social-media i {
  font-size: 2.5rem;
  /* margin: 30px; */
  padding: 15px 50px;
  /* padding-top: 10px; */
  color: #000;
  filter: drop-shadow(0 0 1px #000);
  transition: 0.3s;
}

.social-media i:nth-child(2) {
  border-right: 2px solid #6f6f6f;
  border-left: 2px solid #6f6f6f;
}
.social-media i:nth-child(4) {
  border-right: 2px solid #6f6f6f;
  border-left: 2px solid #6f6f6f;
}

.social-media i:hover {
  color: #3b7bf6;
  cursor: pointer;
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    /* height: 100%; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow-x: hidden;
    /* background: #000; */
  }
  .header {
    display: none;
  }

  .info-icon{
    position: absolute;
    display: block;
    /* width: 300px; */
    top: 10px;
    right: 20px;
    z-index: 2000;
  }

  .info-icon img{
    width: 50px;
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("rendy-novantino-EUydTGTCrHo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .about-page {
    position: absolute;
    width: 100%;
    left: 100%;
    display: none;
    padding-bottom: 250px;
  }

  .about-page .section-2 , .about-page .section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-page .section-3{
    flex-direction: column-reverse;
  }

  .about-page .section-2 .block-2, .about-page .section-3 .block-3{
    width: 300px;
    height: 300px;
    /* height: 80%; */
  }

  .about-page .section-2 .text-section, .about-page .section-3 .text-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .about-page .section-2 .text-section h1, .about-page .section-3 .text-section h1{
    font-size: 3rem;
    width: 500px;
    text-align: center;
  }

  .about-page .section-2 .text-section p, .about-page .section-3 .text-section p{
    width: 80%;
    text-align:justify;
    word-break: keep-all;
  }

  .content .box-1 {
    margin-top: 0;
  }

  .content .box-2 {
    margin: 0;
    transform: translateX(0);
  }

  .book-now {
    backdrop-filter: blur(20px);
    /* transform: translateY(100px); */
    right: 40%;
  }

  .Quick-service {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* background: #000; */
    height: 2200px;
    margin-bottom: 600px;
  }

  /* .Quick-service .box-section{
        height: 2000px;
    } */

  .Quick-service h1 {
    width: 100%;
    font-size: 2rem;
    /* background: #000; */
    text-align: center;
  }

  .social-media i {
    padding: 10px 30px;
    font-size: 1.5rem;
  }

  .footer {
    height: 1100px;
  }

  .footer .footer-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer .footer-section .footer-logo {
    transform: translateX(70px);
    margin: 50px 100px;
  }

  .services{
    transform: translateY(0);
  }

  .footer .footer-section .footer-links,
  .footer .footer-section .footer-contact,
  .footer .footer-section .footer-help {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .footer-section .footer-links ul,
  .footer .footer-section .footer-contact ul,
  .footer .footer-section .footer-help ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer .rights {
    /* width: 120%; */
    background: #000;
    padding: 10px;
    text-align: center;
    margin-left: 0;
    margin: 0;
    /* transform: none; */
  }
}

.contact-page {
  display: none;
  color: #fff;
  position: absolute;
  width: 30%;
  height: 100%;
  background: #000;
  right: 0;
  bottom: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: fixed;
}

.contact-details {
  position: absolute;
  color: #fff;
  right: 50px;
  /* margin-bottom: 10px; */
  transform: translateY(-50px);
  /* height: 30px; */
  /* bottom: 20px; */
  /* background: #ff0; */
  /* bottom: 0; */
  text-align: left;
}

.contact-details p {
  font-family: "Poppins", "sans-serif";
  font-size: 0.8rem;
  /* width: 100%; */
}

.Quick-service .services {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  color: #000;
  margin-top: -100px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -100px; */
  transform: translate(0);
  margin-bottom: 50px;
}

.Quick-service .services h1 {
  font-size: 1.3rem;
  width: 200px;
  font-weight: 300;
  border-radius: 10px;
  border: 1px solid lightgrey;
  /* text-align: center; */
}

.Quick-service .services h1:hover {
  cursor: pointer;
  background: lightgrey;
}

.contact-details{
  transform: translateY(-100px);
}

.services{
  transform: translateY(1400px);
}
